<h1><%= "#{(t 'mongoid.models.contact_group.one')}: #{@contact_group.label}" %></h1>

<p>
  <i><%= @contact_group.description %></i>
</p>

<%= render 'contacts/list' unless @contacts.blank? %>

<%= link_to 'Edit', edit_contact_group_path(@contact_group) %> |
<%= link_to 'Back', contact_groups_path %>
