<%= form_for(@template) do |f| %>
  <% if @template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
      <% @template.errors.full_messages.each do |message| %>
        <li><%= message.html_safe %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.label :label %>
      <%= f.text_field :label, { class: 'form-control',
                                 required: 'required',
                                 pattern: '.{1,20}',
                                 title: "#{(t 'template_form.label_required')}
                                         #{(t 'template_form.label_length')}"} %>
  </div>
  <div class="form-group">
       <%= f.label :msg_body %>
       <%= f.text_field :msg_body, { class: "form-control" } %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<!-- <%#
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :uid %>
  </div>
  <div class="field">
    <%= f.label :account_id %><br>
    <%= f.number_field :account_id %>
  </div>
  <div class="field">
    <%= f.label :label %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :msg_body %><br>
    <%= f.text_field :msg_body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
%> -->
<% end %>
