<table class="table table-striped table-responsive table-hover list-resource" id="templates-table">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th>Label</th>
    <th>Message</th>
    <th>
        <%= render 'template_bulk_actions' %>
    </th>
  </tr>
  </thead>

  <tbody>
  <% i = params[:page].blank? ? 0 : (params[:page].to_i-1)*params[:limit].to_i %>
  <% @templates.each do |template| %>
      <tr class="clickable-row" data-href="<%= template_path template %>">
        <th class="center cell-sm" scope="row"><%= i += 1 %></th>
        <td class="center cell-sm">
          <input type="checkbox" class="resource-check template-check" data-resource="template"
                 name="template[template_ids][]" value="<%= template[:_id] %>">
        </td>
        <td><%= template.label %></td>
        <td><%= template.msg_body %></td>
        <td>
          <div class="entiry-action">
            <%= link_to (t 'actions.view'), template, class: 'btn btn-xs btn-primary' %>
            <%= link_to (t 'actions.edit'), edit_template_path(template), class: 'btn btn-xs btn-warning' %>
            <%= link_to 'Destroy', template, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>

          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @templates %>

<!-- Delete Group Modal -->
<div class="modal fade" id="delete-templates-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="<%= (t 'actions.cancel') %>"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel"><%= (t 'template_form.delete_header') %></h4>
      </div>
      <%= form_for @templates.first, { method: :delete, html: { class: 'list-resource', id: 'delete-templates', } } do |f| %>
      <% @templates.each do |template| %>
          <input type="checkbox" class="resource-check template-check hidden" data-resource="template"
                 name="template[template_ids][]" value="<%= template[:_id] %>" rel="<%= template[:label] %>">
      <% end %>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= (t 'actions.cancel') %></button>
        <%= f.submit (t 'actions.delete'), class: 'btn btn-danger' %>
      </div>
        <% end %>
    </div>
  </div>
</div>
