<h1><%= @template.label %></h1>
<p>
  <strong>Message:</strong>
  <%= @template.msg_body %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>


<!-- <%#

<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @template.uid %>
</p>

<p>
  <strong>Account:</strong>
  <%= @template.account_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @template.label %>
</p>

<p>
  <strong>Message:</strong>
  <%= @template.msg_body %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>

%> -->
