<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @sms_campaign.user %>
</p>

<p>
  <strong>Account:</strong>
  <%= @sms_campaign.account_id %>
</p>

<p>
  <strong>Label:</strong>
  <%= @sms_campaign.label %>
</p>

<p>
  <strong>Originator:</strong>
  <%= @sms_campaign.originator %>
</p>

<p>
  <strong>Msg body:</strong>
  <%= @sms_campaign.msg_body %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @sms_campaign.timezone %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @sms_campaign.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @sms_campaign.end_date %>
</p>

<p>
  <strong>Encoding:</strong>
  <%= @sms_campaign.encoding %>
</p>

<p>
  <strong>On screen:</strong>
  <%= @sms_campaign.on_screen %>
</p>

<p>
  <strong>Total sms:</strong>
  <%= @sms_campaign.total_sms %>
</p>

<p>
  <strong>Sent to box:</strong>
  <%= @sms_campaign.sent_to_box %>
</p>

<p>
  <strong>Finished:</strong>
  <%= @sms_campaign.finished %>
</p>

<p>
  <strong>State:</strong>
  <%= @sms_campaign.state %>
</p>

<p>
  <strong>Estimated cost:</strong>
  <%= @sms_campaign.estimated_cost %>
</p>

<%= link_to 'Edit', edit_sms_campaign_path(@sms_campaign) %> |
<%= link_to 'Back', sms_campaigns_path %>
