<table class="table table-striped table-responsive table-hover list-resource" id="contacts-table">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <% phone_columns = "<th>#{(t 'mongoid.attributes.contact.prefix')}</th>
                          <th>#{(t 'mongoid.attributes.contact.mobile')}</th>" %>
    <% hidden = '' %>
    <%- @metadata.each do |meta_field| %>
        <th class="<%= "#{meta_field} #{hidden}" %>"><%= meta_field.humanize %></th>
        <%- if meta_field == 'first_name' %>
            <%= phone_columns.html_safe %>
            <% hidden = 'hidden' %>
        <% end %>
    <% end %>
    <th class="groups hidden"><%= (t 'mongoid.models.contact_group.other') %></th>
    <th>
      <%= render 'contact_bulk_actions' %>
    </th>
  </tr>
  </thead>

  <!-- TODO modify extra fields -->
  <!-- set 'first_name' & 'last_name' as first level keys -->
  <!-- all other contact profile info should be in a first level 'custom' key -->
  <tbody>
  <% i = params[:page].blank? ? 0 : (params[:page].to_i-1)*params[:limit].to_i %>
  <% @contacts.each do |contact| %>
      <% phone_columns = "<td class=\"clickable\">#{contact[:prefix]}</td><td class=\"clickable\">#{contact[:mobile]}</td>" %>
      <% hidden = '' %>
      <tr class="clickable-row" data-href="<%= contact_path contact %>">
        <th class="center cell-sm" scope="row"><div><%= i = i.to_i + 1 %></div></th>
        <td class="center cell-sm">
          <input type="checkbox" class="resource-check contact-check" data-resource="contact"
                 name="contact[contact_ids][]" value="<%= contact[:_id] %>">
        </td>
        <%- @metadata.each do |meta_field| %>
            <td class="clickable <%= "#{meta_field} #{hidden}" %>"><%= contact['contact_profile'][meta_field] %></td>
            <%- if meta_field == 'first_name' %>
                <%= phone_columns.html_safe %>
                <% hidden = 'hidden' %>
            <% end %>
        <% end %>
        <td class="groups hidden">
          <%- contact.contact_groups.each do |group| %>
              <%= link_to group[:label], group, { class: 'label label-primary' } %>
          <% end %>
        </td>
        <td>
          <div class="entiry-action">
            <%= link_to (t 'actions.view'), contact, class: 'btn btn-xs btn-primary' %>
            <%= link_to (t 'actions.edit'), edit_contact_path(contact), class: 'btn btn-xs btn-warning' %>
            <%= link_to (t 'actions.delete'), contact, class: 'btn btn-xs btn-danger', method: :delete,
                        data: { confirm: "#{(t :contact_del_confirm)
                            .gsub('%contact%', "#{contact[:contact_profile][:last_name]} #{contact[:contact_profile][:first_name]}")}#{(t :cannot_undo)}" } %>
            <%- if contact[:lists].blank? %>
                <%= link_to 'Export List', '#', class: 'btn btn-xs btn-default', disabled: true %>
            <%- else %>
                <div class="btn-group">
                  <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export List <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <% contact[:lists].each do |list| %>
                        <li>
                          <%= link_to list, "/contacts/export_list/#{list}", 'data-no-turbolink' => true %>
                        </li>
                    <% end %>
                  </ul>
                </div>
            <% end %>
          </div>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @contacts %>
