<p id="notice"><%= notice %></p>

<p>
  <strong>Prefix:</strong>
  <%= @contact.prefix %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @contact.mobile %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
