<h1><%= "#{@contact.contact_profile.last_name} #{@contact.contact_profile.first_name}" %></h1>

<hr>

<!-- TODO modify extra fields -->
<!-- set 'first_name' & 'last_name' as first level keys -->
<!-- all other contact profile info should be in a first level 'custom' key -->

<p>
  <strong><%= (t 'mongoid.attributes.contact.prefix') %></strong>
  <%= @contact.prefix %>
</p>

<p>
  <strong><%= (t 'mongoid.attributes.contact.mobile') %></strong>
  <%= @contact.mobile %>
</p>

<%- current_user.metadata.each do |meta_field| %>
  <%- if meta_field == 'last_name' or meta_field == 'last_name' %>
      <% next %>
  <% end %>
  <p>
    <strong><%= meta_field.humanize %></strong>
    <%= @contact['contact_profile'][meta_field] %>
  </p>
<% end %>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>

